In [2]:
import pandas as pd
df = pd.read_csv('../data/input/vacsi-a-dep.csv', sep=';')
df

       dep  clage_vacsi        jour  n_dose1
0       01           24  2021-01-15        1
1       01           24  2021-01-16        3
2       01           24  2021-01-20        3
3       01           24  2021-01-21        1
4       01           24  2021-01-22        3
...    ...          ...         ...      ...
20297  974            0  2021-01-27      248
20298  976            0  2021-01-25       49
20299  976            0  2021-01-26       34
20300  976            0  2021-01-27       90
20301  977            0  2021-01-18        1

[20302 rows x 4 columns]

In [3]:
df[(df.dep == "01") & (df.jour == "2021-01-10")].sort_values(by="jour")

Empty DataFrame
Columns: [dep, clage_vacsi, jour, n_dose1]
Index: []

In [4]:
df

       dep  clage_vacsi        jour  n_dose1
0       01           24  2021-01-15        1
1       01           24  2021-01-16        3
2       01           24  2021-01-20        3
3       01           24  2021-01-21        1
4       01           24  2021-01-22        3
...    ...          ...         ...      ...
20297  974            0  2021-01-27      248
20298  976            0  2021-01-25       49
20299  976            0  2021-01-26       34
20300  976            0  2021-01-27       90
20301  977            0  2021-01-18        1

[20302 rows x 4 columns]